body{

}

#banner{

}
width:100%;


.principal{
background: ;#cccccc;
padding: 30px
}
.titulo-principal [
]
padding-left:20xp;
.titulo-centrallizado {
text-align: center
}

p {
    text-align: center;
}
#missão {
   font-size: 20px
}

em strong {
color:#FF0000;
}

.itens {
font-style: italic
}

.benefios [
background:ffffff;
padding:20xp;
]

ul {
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
}
.imagembeneficios {
wisht:50%;
}